@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@1,700&family=Libre+Caslon+Text:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
nav{
  background:  #FAF9F9;;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
  font-family: mulish;
  font-weight: bolder;
  
}


nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: #515151;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
  text-transform: uppercase;
}
nav ul li:hover a{
  color: #FF1616;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
.div{
  border-left: 4px solid #FF0000 ;
  height: 400px;
  position: absolute;
  left: 5%;
  margin-left: -4px;
  top: 200px;
  display: inline-block;
}
.box1{
  height: 26px;
  width: 26px;
  background-color: #FF0000;
  display: inline-block;
  margin-top: 70px;
  margin-left: 161px;
}
.uper{
  height: 77px;
  width: 200px;
  display: inline-block;
  margin-top: 14px;
  margin-left: 386px;
  top: -14px;
  position: relative;
  background-color: #FFF7F7;
  border-radius: 2px;
}
.container .uper p{
  position: relative;
  left: 3.41%;
  right: 4.56%;
  top: 17.19%;
  bottom: 90.13%;
  font-family: Libre Caslon Text;
  
  font-weight: normal;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  overflow-wrap: break-word;
  color: #1D1D1D;
  text-transform: uppercase;
  
}


.box2{
  height: 52px;
width: 52px;
background-color: #FF0000;
display: inline-block;
margin-top: 7px;
margin-left: 30px;
top: 40px;
position: relative;
}
.box3{
  height: 52px;
  width: 52px;
  background-color: #FF0000;
  display: inline-block;
  margin-top: 11px;
  margin-left: 603px;
  top: 117px;
  position: relative;
}


.container{
  display: flex;
}
.container .box2{
  position: absolute;
  width: 630px;
  height: 339px;
  left: 128px;
  top: 250px;

background: #FF1616;
border-radius: 2px;
text-align: center;
align-items: center;
display: inline;

}
.container .box2 p{
  position: absolute;
left: 3.41%;
right: 4.56%;
top: 17.19%;
bottom: 90.13%;

font-family: Gentium Book Basic;
font-style: italic;
font-weight: normal;
font-size: 26px;
line-height: 42px;
text-align: center;
overflow-wrap: break-word;
color: #FFFFFF;
}
.troyimg{
  display: inline;
float: left;
position: absolute;
width: 318px;
height: 564px;
left: 1107px;
top: 79px;
}
.btn1{
  color: white;
  background-color: transparent;
  margin-left: -746px;
  position: relative;
  width: 245px;
  height: 74px;
  left: 388px;
  top: 210px;
  box-sizing: border-box;
  border: 3px solid #F0F0F0;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 23px;
  font-family: mulish;
  font-weight: bold;
  
}
.grey{
  position: absolute;
width: 1265px;
height: 86px;
left: 128px;
top: 643px;
background: #F1F1F1;
border-radius: 2px
}
.bline{
  border-left: 4px solid yellow ;
  height: 400px;
  position: absolute;
  left: 10%;
  margin-left: -4px;
  top: 1700px;
  display: inline-block;
}
.be{
  border-bottom: 2px solid red;
  display: inline;
}
.simg{
  display: inline;
  position: absolute;
  width: 7px;
  height: 300px;
  left: 767px;
  top: 612px;
  transform: rotate(90deg);
}
.cnt{
display: inline;
position: relative;
width: 7px;
height: 300px;
left: 543px;
top: 488px;
color: #1D1D1D;
font-family: mulish;
font-size: 40px;
font-weight: bold;
}
.container .boxn{
  position: absolute;
  width: 883px;
  height: 450px;
  left: 1px;
  top: 879px;
  background: #FF4343;
  border-radius: 2px;
  text-align: center;
  align-items: center;
  display: inline;

}
.container .boxn p{
  position: absolute;
  left: 12.41%;
  right: 4.56%;
  top: 13.19%;
  bottom: 90.13%;
  font-family: mulish;
  font-style: italic;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  text-align: left;
  overflow-wrap: break-word;
  color: #FFFFFF;
}
.imgt{
  display: inline;
  float: left;
  position: absolute;
  width: 419px;
  height: 340px;
  left: 689px;
  top: 939px;
}
.cntb{
  color: #FF1616;
background-color: transparent;
margin-left: 80px;
position: relative;
width: 313px;
height: 90px;
left: 261px;
top: 999px;
box-sizing: border-box;
border: 3px solid #FF1616;
border-radius: 3px;
cursor: pointer;
text-transform: uppercase;
font-size: 23px;
font-family: mulish;
font-weight: bold;
}
.partner{
  display: inline;
  position: relative;
  width: 7px;
  height: 300px;
  left: 127px;
  top: 1129px;
  color: #1D1D1D;
  font-family: mulish;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.company{
  display: inline;
position: relative;
width: 7px;
height: 300px;
left: -356px;
top: 1163px;
color: #AFAFAF;
font-family: mulish;
font-size: 23px;
font-weight: bold;
text-transform: uppercase;
}
.partnerlist{
  display: inline;
  top: 2200px;
}
.partnerlist .img1{
  
  top: 2200px;
}
.containerflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.containerflex img{
  height: 220px;
width: 292px;
top: 1141px;
position: relative;
}
.container3 .boxn1{
  position: absolute;
  width: 100%;
  height: 617px;
  left: 1px;
  top: 1952px;
  background: #FF4343;
  border-radius: 2px;
  text-align: center;
  align-items: center;
  display: inline;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);

}
.container3 .boxn1 p{
  position: absolute;
  left: 7.41%;
  right: 4.56%;
  top: 17.19%;
  bottom: 90.13%;
  font-family: mulish;
  
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  text-align: left;
  overflow-wrap: break-word;
  color: #FFFFFF;
}
.mediabox{
  position: absolute;
  width: 552px;
  height: 110px;
  left: 468px;
  top: 1897px;
  background: #FFF6F6;
  border-radius: 3px;
}
.redbox{
  position: absolute;
width: 79px;
height: 79px;
left: 436px;
top: 1914px;
background: #FF2D2D;
border-radius: 3px;
}
#forward{
  position: absolute;
  width: 40px;
  height: 30px;
  left: 120px;
  top: 35px;
  
}
#backward{
  position: absolute;
  width: 40px;
  height: 30px;
  left: 70px;
  top: 35px;
  
}
.ypolygon{
  position: absolute;
  left: -17.8%;
  right: 74.89%;
  top: -49.54%;
  bottom: 43.83%;
  transform: rotate(90deg);
  z-index: 100;
}
.create{
  
  position: absolute;
  width: -9px;
  height: 330px;
  left: 640px;
  top: 1905px;
  color: #333;
  font-family: mulish;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
}
.blackline{
  display: inline;
  position: absolute;
  width: 3px;
  height: 229px;
  left: 751px;
  top: 1832px;
  transform: rotate(90deg);
}
.ellipse{
  display: inline;
position: absolute;
width: 9px;
height: 9px;
left: 631px;
top: 1942px;
}
.signature{
  
  position: absolute;
  width: -9px;
  height: 330px;
  left: 648px;
  top: 1945px;
  color: #333;
  font-family: Gentium Book Basic;
  font-size: 37px;
  font-weight: bold;
  text-transform: uppercase;
}

.time{
  
  position: absolute;
  width: -9px;
  height: 330px;
  left: 886px;
  top: 1940px;
  color: black;
  font-family: mulish;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
#volume{
  position: absolute;
  width: 40px;
  height: 30px;
  left: 480px;
  top: 35px;
  
}
.mike{
  display: inline;
  float: left;
  position: absolute;
  width: 358px;
  height: 640px;
  left: 842px;
  top: 1954px;
  filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, 0.48));
  
}
.checkout{
  color: #FF1616;
  background-color: transparent;
  margin-left: 80px;
  position: relative;
  width: 311px;
  height: 90px;
  left: 219px;
  top: 1858px;
  box-sizing: border-box;
  border: 3px solid #FF1616;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 23px;
  font-family: mulish;
  font-weight: bold;
}
.grey1{
  position: absolute;
  width: 571px;
  height: 17px;
  left: 701px;
  top: 2598px;
  background: #EFEFEF;;
  border-radius: 2px;

}
.ready{
  display: inline;
  position: relative;
  width: 7px;
  height: 300px;
  left: 127px;
  top: 1978px;
  color: #1D1D1D;
  font-family: mulish;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.brand {
  display: inline;
  position: relative;
  width: 7px;
  height: 300px;
  left: -289px;
  top: 2006px;
  color: #AFAFAF;
  font-family: mulish;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.containerflex1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.containerflex1 img {
  height: 400px;
  width: 400px;
  top: 2026px;
  position: relative;
  padding: 14px;
}
.stay{
  color: #FFFFFF;
  background-color: #FF4343;
  margin-left: 80px;
  position: relative;
  width: 182px;
  height: 60px;
  left: 112px;
  top: 1915px;
  box-sizing: border-box;
  font-size: 23px;
  font-family: Libre Caslon Text;

}
.view {
  color: #FF1616;
  background-color: transparent;
  margin-left: 80px;
  position: relative;
  width: 182px;
  height: 60px;
  left: -154px;
  top: 1973px;
  box-sizing: border-box;
  font-size: 23px;
  font-family: mulish;
  font-weight: bold;
  border: 2px solid #FF1616;
}
.view1{
 
  color: #FF1616;
  background-color: white;
  margin-left: 80px;
  position: relative;
  width: 180px;
  height: 60px;
  left: -291px;
  top: 1973px;
  box-sizing: border-box;
  font-size: 23px;
  font-family: mulish;
  font-weight: bold;
  border: 2px solid #FF1616;
  }
  .plain{
    color: #FFFFFF;
    background-color: #FF4343;
    margin-left: 80px;
    position: relative;
    width: 182px;
    height: 60px;
    left: -27px;
    top: 1915px;
    box-sizing: border-box;
    font-size: 23px;
    font-family: Libre Caslon Text;
  }
  .sell {
    color: #FFFFFF;
    background-color: #FF4343;
    margin-left: 80px;
    position: relative;
    width: 183px;
    height: 60px;
    left: -155px;
    top: 1916px;
    box-sizing: border-box;
    font-size: 23px;
    font-family: Libre Caslon Text;
}
  .view2{
    color: #FF1616;
    background-color: transparent;
    margin-left: 80px;
    position: relative;
    width: 182px;
    height: 60px;
    left: 908px;
    top: 1915px;
    box-sizing: border-box;
    font-size: 23px;
    font-family: mulish;
    font-weight: bold;
    border: 2px solid #FF1616;
    z-index: 100;
  }
  .focus {
    position: absolute;
    width: 449px;
    height: 600px;
    left: 70px;
    top: 3289px;
    background: #ECECEC;
    border-radius: 2px;
}

  #myfocus {
    color: #FF1616;
    font-family: mulish;
    text-transform: uppercase;
    text-align: center;
    top: 50%;
    position: absolute;
    left: 134px;
    font-size: 30px;
}
.redbox1 {
  position: absolute;
  width: 862px;
  height: 600px;
  left: 533px;
  top: 3289px;
  background: #FF4343;
  border-radius: 2px;
}
.flex3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grey3{
  color: grey;
  height: 220px;
  width: 339px;
  top: 243px;
  position: absolute;
  left: 500px;
  z-index: 100;
}
.branding1 {
  position: absolute;
  width: 394px;
  height: 265px;
  left: 560px;
  top: 3316px;
  background: #FFF;
  border-radius: 2px;
  z-index: 100;
}
#brandingtxt {
  color: #453B3B;
  font-family: mulish;
  text-transform: uppercase;
  text-align: center;
  top: 32%;
  position: absolute;
  left: 83px;
  font-size: 40px;
}
.branding2 {
  position: absolute;
  width: 394px;
  height: 265px;
  left: 973px;
  top: 3316px;
  background: #FFF;
  border-radius: 2px;
  z-index: 100;
}
#brandingtxt1 {
  color: #453B3B;
  font-family: mulish;
  text-transform: uppercase;
  text-align: center;
  top: 32%;
  position: absolute;
  left: 83px;
  font-size: 40px;
}
.branding3 {
  position: absolute;
  width: 254px;
  height: 265px;
  left: 561px;
  top: 3594px;
  background: #FFF;
  border-radius: 2px;
  z-index: 100;
}
#brandingtxt2 {
  color: #453B3B;
  font-family: mulish;
  text-transform: uppercase;
  text-align: center;
  top: 41%;
  position: relative;
  left: -6px;
  font-size: 40px;
}
.branding4 {
  position: absolute;
  width: 254px;
  height: 265px;
  left: 837px;
  top: 3594px;
  background: #FFF;
  border-radius: 2px;
  z-index: 100;
}

#brandingtxt3 {
  color: #453B3B;
  font-family: mulish;
  text-transform: uppercase;
  text-align: center;
  top: 41%;
  position: relative;
  left: -6px;
  font-size: 40px;
}
.branding5 {
  position: absolute;
  width: 254px;
  height: 265px;
  left: 1112px;
  top: 3595px;
  background: #FFF;
  border-radius: 2px;
  z-index: 100;
}

#brandingtxt4 {
  color: #453B3B;
  font-family: mulish;
  text-transform: uppercase;
  text-align: center;
  top: 41%;
  position: relative;
  left: -6px;
  font-size: 40px;
}
.grey4{
  position: absolute;
  width: 100%;
  height: 170px;
  left: auto;
  top: 3954px;
  background: #EFEFEF;
  border-radius: 2px;

}
.subcribe{
  color: #000000;
  background-color: transparent;
  margin-left: 80px;
  position: relative;
  width: 289px;
  height: 64px;
  left: 66px;
  top: 2768px;
  box-sizing: border-box;
  border: 3px solid #FF1616;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-family: mulish;
  font-weight: bold;

}
.subcribe i{
  padding-right: 15px;
  padding-top: -4px;
  padding-left: 2px;
  left: 13px;
  position: absolute;
  top: 19px;
  color: red;
}
.listen{
  color: #000000;
  background-color: transparent;
  margin-left: 80px;
  position: relative;
  width: 289px;
  height: 64px;
  left: 90px;
  top: 2768px;
  box-sizing: border-box;
  border: 3px solid #FF1616;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-family: mulish;
  font-weight: bold;

}
.listen i{
  padding-right: 15px;
  padding-top: -4px;
  padding-left: 2px;
  left: 13px;
  position: absolute;
  top: 19px;
  color: red;
}
.follow {
  display: inline;
  position: relative;
  width: 7px;
  height: 300px;
  left: -476px;
  top: 2841px;
  color: #000000;
  font-family: mulish;
  font-size: 40px;
  font-weight: bold;
}
#fb{
  
    padding-right: 15px;
    padding-top: -4px;
    padding-left: 2px;
    left: 813px;
    position: absolute;
    top: 4086px;
    color: #FF4343;;
  
}
#twitter{
  
  padding-right: 15px;
  padding-top: -4px;
  padding-left: 13px;
  left: 843px;
  position: absolute;
  top: 4086px;
  color: #FF4343;;

}
#insta{
  
  padding-right: 15px;
  padding-top: -4px;
  padding-left: 13px;
  left: 888px;
  position: absolute;
  top: 4086px;
  color: #FF4343;;

}
.gradient{
  position: absolute;
  width: 100%;
  height: 628px;
  left: 0px;
  top: 118px;
  background: radial-gradient(35.44% 67.34% at 66.17% 41.16%, rgba(255, 67, 67, 0.4814) 0%, rgba(255, 12, 12, 0.755559) 99.97%, rgba(255, 0, 0, 0.83) 99.98%);
}
.gradient img{
  opacity: 0.7;
  position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 160px;


}



